<html>
	<head>
		<title>$action.getText("cmis.attachments.title")</title>
	</head>
	<body>
  	 	#parse ( "/template/includes/actionmessages.vm" )
		#parse ( "/template/includes/actionerrors.vm" )
                    <form name="input" action="input.action" method="GET">
                    	<input type="text" name="servername" size="50" value="$servername">
                    	<select name="folderId">
                    		#if ($folders.size() > 0)
                    			#foreach ($foldername in $folders.keySet())
									<option value="$folders.get($foldername)">$foldername</option>
								#end
							#end
						</select>
                    	<input type="submit" value="$action.getText("cmis.attachments.button.go")" onclick="forms.input.action='display.action';">
                    </form>
    </body>
</html>