*Details of [$documentProperties.get("Name")|$documentLink]*
||Property||Value||
#foreach( $entry in $documentProperties.entrySet() )
#if($check.isNull($entry.value))
#set( $entry.value = " " )
#end
|$entry.key|$entry.value|
#end