*Details of #parse("/templates/cmis/doclink.vm")*
||Property||Value||
#foreach( $entry in $documentProperties.entrySet() )
#if($check.isNull($entry.value))
#set( $entry.value = " " )
#end
|$entry.key|$entry.value|
#end