<html>
	<head>
		<title>$action.getText("cmis.config.title")</title>
	</head>
	<body>
  	 	#parse ( "/template/includes/actionmessages.vm" )
		#parse ( "/template/includes/actionerrors.vm" )
        <table class="grid" width="80%">
            <tr>
                <td>
                    <form name="configuration" action="save.action" method="GET">
                        <table width="60%">
                            <tr>
                            	<th>ServerName</th>
                                <th>Realm</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Repository ID</th>
                            </tr>
                            #if ($credentials.size() > 0)
								#foreach ($servername in $credentials.keySet())
									#set ($index = $velocityCount - 1)
	                                <tr>
	                                	<td>
	                                		<input type="text" name="servernames" size="15" value="$servername">
	                                	</td>
	                                    <td>
	                                        <input type="text" name="realms" size="35" value="$credentials.get($servername).get(0)">
	                                    </td>
	                                    <td>
	                                        <input type="text" name="usernames" size="15" value="$credentials.get($servername).get(1)">
	                                    </td>
	                                    <td>
	                                        <input type="password" name="passwords" size="15" value="$credentials.get($servername).get(2)">
	                                    </td>
	                                    <td>
	                                        <input type="text" name="repoids" size="35" value="$credentials.get($servername).get(3)">
	                                    </td>
                                        <td>
                                            <a href="#" onclick="forms.configuration.action='delete.action'; forms.configuration.indexToDelete.value = $index; forms.configuration.submit();"><img src="$req.contextPath/images/icons/trash_16.gif" border="0"></a>
                                        </td>
	                                </tr>
	                            #end
	                        #else
	                            <tr>
	                                <td>
	                                	<input type="text" name="servernames" size="50" value="insert server name">
	                                </td>	                            
	                                <td>
	                                    <input type="text" name="realms" size="50" value="http://">
	                                </td>
	                                <td>
	                                    <input type="text" name="usernames" size="20">
	                                </td>
	                                <td>
	                                    <input type="password" name="passwords" size="20">
	                                </td>
	                                <td>
	                                    <input type="text" name="repoids" size="50">
	                                </td>
	                            </tr>
	                        #end
                            <tr><td colspan="5" align="right"><input type="submit" value="$action.getText("cmis.config.button.add")" onclick="forms.configuration.action='add.action';"></td></tr>
                        </table>
                        
                        <table>
                        	<th>Search configuration</th>
                        		<tr>
                        			<td>
                        				Name <input name="name" id="name" type="checkbox" #if ($action.hasName()) checked #end />
                        			</td>
                        			<td>
                        				ObjectId <input name="objectId" id="objectId" type="checkbox" #if ($action.hasObjectId()) checked #end/>
                        			</td>
                        			<td>
                        				ObjectTypeId <input name="objectTypeId" id="objectTypeId" type="checkbox"#if ($action.hasObjectTypeId()) checked #end/>
                        			</td>
                        			<td>
                        				CreatedBy <input name="createdBy" id="createdBy" type="checkbox"#if ($action.hasCreatedBy()) checked #end/>
                        			</td>
                        			<td>
                        				CreationDate <input name="creationDate" id="creationDate" type="checkbox"#if ($action.hasCreationDate()) checked #end/>
                        			</td>
                        			<td>
                        				LastModifiedBy <input name="lastModifiedBy" id="lastModifiedBy" type="checkbox"#if ($action.hasLastModifiedBy()) checked #end/>
                        			</td>
                        			<td>
                        				LastModificationDate <input name="lastModificationDate" id="lastModificationDate" type="checkbox"#if ($action.hasLastModificationDate()) checked #end/>
                        			</td>
                        			<td>
                        				IsLatestVersion <input name="isLatestVersion" id="isLatestVersion" type="checkbox"#if ($action.hasIsLatestVersion()) checked #end/>
                        			</td>
                        		</tr>
                        </table>
                        <input type="hidden" name="indexToDelete" value="-1">
                        <input type="submit" value="Save">
                    </form>
                </td>
            </tr>
        </table>
		#parse ( "/admin/admin-breadcrumbs.vm" )
	</body>
</html>